body{
    margin: 0;
}

.home_page {
    font-size: 2.5rem;
}

.loginPage {
    background-color: red;
}

img {
    max-width: 100px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}